* {
  margin: 0;
  padding: 0; 
  /* border: solid 1px red; */
  font-family: Poppins;
  box-sizing: border-box; 
}

body {
 background: rgba(244, 244, 244, 1);
}

.container {
  position: sticky;   
  top: 0; 
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: rgba(244, 244, 244, 1);
  display: flex;
}


  
header {
  padding: 26px 103px 25px 101px;
  align-items: center;
  justify-content: space-between;

}

.search {
  width: 500px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 30px;
  display: flex;
  
  border-radius: 50px;
  background-repeat: no-repeat;
  color: rgba(27, 27, 27, 0.80);
  background: rgba(244, 244, 244, 1);
  border: 1.6px solid rgba(27, 27, 27, 0.70);
}

.icon-search {
  position: absolute;
  padding-left: 54%;
}

.cta {
  border: none;
  width: 177px;
  height: 41px;
  
  font-size: 14px;
  font-weight: 600;
  margin: 21px 10px;
  border-radius: 10px;
  background: #1C40FF;
}

.cta a {
  text-decoration: none;

  color: #F4F4F4;
}

.information {
  margin-top: 55px;
  display: flex;
  gap: 20px;
  align-items: center;
  
}

.text-information {
  color: rgba(27, 27, 27, 1);
  font-weight: 500;
  font-size: 24px;
}

.text-information-black-blue {
  color: #0C32FE;
  font-weight: 700;
}

.options {
  display: flex;
  align-items: center;
  width: 160px;
  padding: 8px 11px 8px 9px;
  height: 40px;
  justify-content: space-between;
  margin-top: 33px;
  border-radius: 20px;
  background: #ECECEC;
  color: rgba(27, 27, 27, 0.90);
}

.select {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

main {
  margin: 34px 103px;
  height: 784px;
}

.questions {
   margin-top: 34px;
   padding-bottom: 27px; 
}

.btn-questions {
  background: rgba(244, 244, 244, 1);
  gap: 40px;
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  border: 2.5px solid rgba(27, 27, 27, 0.8);
  border-bottom: transparent; 
}

.btn-questions:first-child {
  border-radius: 10px 10px 0px 0px;
}

.btn-questions:last-child {
  border: solid 2px rgba(27, 27, 27, 0.8);
  border-radius: 0px 0px 10px 10px;
}

.icon-check {
   margin-left: 38px;
}

.question {
  color: rgba(27, 27, 27, 1);
}

.question-title {
  text-align: start;
  font-size: 20px;
  font-weight: 600;
}

.question-subtitle {
  font-size: 18px;
  font-weight: 400;
}

.question-answer {
  margin-left: 280px;
  color: #1B1B1B;
  line-height: 28px;
}

.question-answer-number {
  font-size: 28px;
  font-weight: 600;
}

.question-answer-word {
  font-size: 16px;
  font-weight: 400;
}

.fade {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:rgba(27, 27, 27, 0.8);
  z-index: 5;
}

/* ************************* MODAL ************************* */
form{
  display: flex;
  flex-direction: column;
}

.box{
  transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  width: 900px;
  max-width: 90%:
  height: 800px;
  margin-top: 50px;
  background-color: white;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}


input{
  margin-top: 20px;
  border-radius: 15px;
}

.titulo{
  width: 706px;
  height: 60px;
}

.pergunta{
  width: 706px;
  height: 167px;
}
.h1-2{
  margin-top: 60px;
}

h2{
  margin-top: 30px;
}

.tg{
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin-top: 15px;
}

.btn-tg button{
  padding: 15px;
  margin: 5px;
  text-align: center;
  font-size: 17px;
  border-radius: 15px;
  background-color: #D9D9D9; 
  color: black;  
}
.ia{
  width: 92px;
  height: 50px;
}

#button{
  width: 153px;
  height: 47px;
  border-radius: 10px;
  margin-top: 50px;
  background-color:#0C32FE;
  color: white;
}
