*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
    box-sizing: border-box;
  }

body {
  background: rgba(244, 244, 244, 1);
}

  .container {
    position: sticky;   
    /* top: 0;  */
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: rgba(244, 244, 244, 1);
    display: flex;
  }
  
  header {
    padding: 26px 103px 25px 101px;
    align-items: center;
    justify-content: space-between;
  }
  
  .search {
    width: 500px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    display: flex;
    
    border-radius: 50px;
    background-repeat: no-repeat;
    color: rgba(27, 27, 27, 0.80);
    background: rgba(244, 244, 244, 1);
    border: 2px solid rgba(27, 27, 27, 0.70);
  }
  
  .div-search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .icon-search {
    margin-right: 28px;
    position: absolute;
  }
  
  .cta {
    border: none;
    width: 177px;
    height: 41px;
    
    cursor: pointer;
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 600;
    margin: 21px 10px;
    border-radius: 10px;
    background: rgba(77, 83, 244, 1);
  }
  
  /* segunda parte */
  
  .publi{
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    margin-left: 98px;  
  }

.h1-title {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: 700;
}

.p-date {
  color: rgba(27, 27, 27, 0.75);
  font-size: 18px;
  font-weight: 500;
}

  .span{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 45px;
    margin-top: 20px;
    background-color: #D1D9FF;
    color: #021680;
    font-size: 18px;
    font-weight: 500;
  }
  
  .question{
    display: flex;
    justify-content: flex-start;
    margin: 52px 98px;  
  }
  
  .h1-ques{
    margin-left: 34px;
  }

  .name-people {
    color: #1B1B1B;
    font-size: 28px;
    font-weight: 600;
  }

  .description {
    color:#1B1B1B;
    font-size: 20px;
    font-weight: 500;
  }
  
  .res {
    width: 534px;
    height: 60px;
    padding-left: 45px;
    display: flex;
    margin-top: 15px;
    
    color: rgba(27, 27, 27, 0.80);
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    background-repeat: no-repeat;
    border: 2px solid rgba(27, 27, 27, 0.70);
  }
  
  .send {
    display: flex;
    align-items: center; 
    
  }

  .icon-send {
    margin-right: 28px;
    position: absolute;
    flex-direction: row;

  }
  
  .resposta-linha{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  .respostas{
    margin: 50px;
  }
  .linha{
    content:"";
    width: 994px;
    height:2px;
    margin-right:50px;
    background-color:#000;
  }
  /* depois de respostas*/
  
  .filho-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 50px;
  }
  
  .nome{
    display: flex;
    margin-right: 900px;
  }
  
  .paragrafo{
    margin: 50px;
  }
  